@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bad+Script&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
section{
    padding: 80px 0;
}
.max-width{
    max-width: 95vw;
    padding: 0 60px;
    margin: auto;
}
.about,  .skills,  .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* background-color: #fff; */
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

section .title.dark::before{
    background: #fff;
}
section .title.dark::after{
    background: #111;
}

#preloader {
    position: fixed;
    z-index: 1800;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff
    }
    .no-js #preloader,
    .oldie #preloader {
    display: none
    }
    #loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
    }
    #loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
    }
    #loader:before, #loader:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
    }
    #loader:before {
    animation: before 2s ;
    }
    #loader:after {
    animation: after 2s ;
    }
    @keyframes before {
    0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
    35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
    70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
    100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
    }
    @keyframes after {
    0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
    35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
    70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
    100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
    }

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background: crimson;
}
/* .navbar.sticky{
    padding: 15px 0;
    background: crimson;
} */
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #fff;
    transition: all 0.3s ease;
}
/* .navbar.sticky .logo a span{
    color: #fff;
    transition: all 0.3s ease;
} */
.navbar .content{
    display: inline-flex;
}
.navbar ul{
    margin-right: 20px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding:0  20px;
    line-height: 24px;
    transition: color 0.3s ease-in-out;
}
.navbar li a:hover {
    transform: scale(1.1);
    transition: all .1s ease;
    -webkit-transition: all 1s ease;
  }

/* .navbar li a:before,
.navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -1px;
  background: #fff;
}

.navbar li a:before {
  left: 0;
  transition: 0.5s;
}

.navbar li a:after {
  background: #fff;
  right: 0;
} 
 .navbar li a:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

 .navbar li a:hover:after {
  background: transparent;
  width: 100%;
}  */
.nav-btn{
    display: flex;
}
.mode-btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.mode-btn p.dark::before{
    content:'\f185';
    font-size: 23px;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}



.home{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home.dark{
    background-color: #111;
}

.home .max-width{
    width: 100%;
    display: flex;
  }
  .home .max-width .row{
    margin-right: 0;
  }
  .home .home-content .text-1{
      font-size: 27px;
  }
  .home .home-content .text-2{
      font-size: 75px;
      font-weight: 600;
      margin-left: -3px;
  }
  .home .home-content .text-3{
      font-size: 40px;
      margin: 5px 0;
  }
  .home .home-content .text-3 span{
      color: crimson;
      font-weight: 500;
  }
  /* .home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
} */

.about.dark{
    color: #fff;
    background: #0F1111;
}
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .left img:nth-child(1){
    display: block;
}
.about .about-content .left img:nth-child(2){
    display: none;
}
.about .about-content .left img:nth-child(1).dark{
    display: none;
}
.about .about-content .left img:nth-child(2).dark{
    display: block;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}
.education {
    font-family: Helvetica, sans-serif;
}
.education.dark{
    color: #fff;
    background: #0F1111;
}
.education .title::after{
    content: "what I know";
}
/* .education span{
} */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color:  crimson;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .container {
    padding: 10px 50px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #61D4E8;
    border: 4px solid #2DA1E7;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent  #61D4E8;
  }
  
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent  #61D4E8 transparent transparent;
  }
  
  .right::after {
    left: -16px;
  }
  
 .education .content {
    padding: 20px 30px;
    color: white;
    background-color:  #f9cc51;
    position: relative;
    border-radius: 6px;
   }
  
  @media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }
  
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    .left::after, .right::after {
      left: 15px;
    }
  
    .right {
      left: 0%;
    }
  }



.skills.dark{
    color: #fff;
    background: #111;
}

.skills .title::after{   
    content: "what i know";
}
.skills .skills-content .column{    
    padding : 30px;
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}


.skills dt span{
   float: right;
}
.skills dt:after {
    width: 100%;
    background-color: #e0e0e0;
    height: 0.5rem;
    content: "";
    display: block;
    }
.skills dd {
    background: red;
    width: 0;
    height: 0.5rem;
    position: relative;
    top: -0.5rem;
    }
    .skills dd {
    background: crimson;
    }
    

.contact.dark{
        color:#fff;
        background: #0F1111;
}
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .left .icons.dark{
    color: #e0e0e0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .social {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.contact .contact-content .social a{
    position: relative;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}
.contact .contact-content .social a:hover{
    transition: .1s ease-in;
    transform: scale(1.1);
}
.contact .contact-content .social i{
    
    color: crimson;
    font-size: 30px;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
    color: #fff;
    display: block;
    width: 160px!important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: crimson;
    border: 2px solid crimson;
    transition: all 0.3s ease;
  }
  .right form .button-area button:hover{
    color: crimson;
    background: none;
  }



footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer span a{
    color: crimson;
    font-family: cursive;
    font-size: 20px;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
footer p{
    font-size: 13px;
}

@media(max-width: 941px){
    .menu-btn{
        display: block;
        z-index: 999;
        margin-left: 20px;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 55px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    
}

@media(max-width: 500px){
    .max-width{
    max-width: 98vw;
    padding: 0 30px;
    /* margin: 10px; */}
    section .title{
        font-size: 30px;
    }
    .mode-btn{
        font-size: 15px;
    }
    .menu-btn{
        font-size: 18px;
    }
    .navbar .logo a{
        font-size: 25px;
    }
    /* .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    } */
    section .title::after{
        font-size: 14px;
    }
}
@media(max-width: 300px){
    .home .home-content .text-2{
        font-size: 45px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }
}


